@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Biswarup's Project</h1>
    <p>To learn about <a href="https://bcrec.ac.in/"> DR.B.C Roy Engineering College</a> click here.</p>
</div>
